/* HEADER */
.header-img {
    width: 70%;
    border-radius: 50%;
}

/* NAVBAR */
.nav-item a:hover {
    color: black !important;
    background-color: white;
}

.fixedTop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* ABOUT ME */
.about p {
    text-align: justify;
}

/* LATEST POSTS */
#latest-posts {
    text-align: justify;
}

/* FOOTER */
#footer .footer-div {
    text-align: justify;
}
